html,
body {
	width: 100%;
	height: 100%;
	margin: 0px;
}

* {
	font-family: 'Comic Neue', BOLD;
	font-size: 22px;
}

ul,
li {
	padding: 0px;
	margin: 0px;
	list-style: none;
}

.container {
/*	position: absolute;*/
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: auto;
	background-color: #FFDF8D;
	background-image: url("./image/ff.png");
	background-repeat: repeat;
}

.header {
	width: 100%;
	height: 100px;;
}

.menu_button {
	display: block;
	width: 90px;
	height: 80px;
	position: fixed;
	top: 5px;
	right: 5px;
	z-index: 100;

}

.menu_button img {
	width: 100%;
	height: 100%;
	opacity: 90%;
}

.change #bar1 {
	transform: rotate(-45deg) translate(-9px, 6px);
}

.change #bar2 {
	transform: rotate(45deg) translate(-5px, -6px);
}

.side_nav {
	margin: auto 0;
	padding: 0;
	height: 0;
	width: 100%;
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
	background-color: #FFD466;
	overflow-y: hidden;
	overflow-x: hidden;
	transition: 0.5s;
	text-align: center;
	visibility: hidden;
	display: inline-flex;
}

.side_nav ul {
	list-style: none;
	margin: 40% auto;
	
}

.side_nav a {
	padding: 8px 8px 8px 8px;
	text-decoration: none;
	font-size: 36px;
	color: black;
	display: block;
	transition: 0.3s;
}

.side_nav a:hover {
	color: floralwhite;
}

.side_role1 {
	display: block;
	width: 30%;
	height: 100%;
	top: 10%;
	left: 0;
}

.side_menu {
	display: block;
	width: 40%;
	height: 100%;
	left: 0;
}

.side_role1 img {
	transform: scale(0.5);
	position: fixed;
	bottom: 0;
	left: 0;
}

.side_role2 {
	display: block;
	width: 30%;
	height: 100%;
	top: 10%;
	left: 0;
}

.side_role2 img {
	transform: scaleX(-1);
	position: fixed;
	width: inherit;
	bottom: 0;
	right: 0;
}

.side_role1 img {
	transform: scale(0.5);
	position: absolute;
	bottom: 0;
	left: 0;
}

.menu_button .menu_icon {
	display: flex;
	position: fixed;
	width: 40px;
	height: auto;
	top: 35px;
	right: 30px;
	flex-direction: column;
	z-index: 1;
}

.menu_button .bar {
	width: 40px;
	height: 6px;
	background-color: #fff;
	opacity: 90%;
	margin: 6px 0;
	transition: 0.4s;
	border-radius: 5px;
}


.menu_button:hover .bar {
	transform: scale(1.1);
}

.menu_button:hover img {
	transform: scale(1.1);
}

.main {
	width: 100%;
	height: auto;
}

.footer {
	padding: 0px;
	margin: 0px;
	width: 100%;
	height: auto;
	background-color: #FFD466;
	text-align: center;
	border-top: 1px solid #F1F1F1;
}

.footer_nav {
	display: block;
	width: inherit;
	height: auto;
	position: relative;
	top: 0px;
}

.footer_nav ul {
	top: 0px;
}

.footer_nav li {
	display: inline-flex;
	flex-direction: row;
	padding: 10px 3%;
}

.footer_nav a {
	text-decoration: none;
	color: #000;
	transition: 0.5s;
}

.footer_nav a:hover {
	text-decoration: none;
	color: floralwhite;
}

.footer_sns {
	display: block;
	width: inherit;
	height: auto;
	position: relative;
	top: 0px;
}

.footer_sns ul {
	top: 0px;
}

.footer_sns li {
	display: inline-flex;
	flex-direction: row;
	padding: 10px 3%;
}

.footer_sns a {
	width: 50px;
	height: 50px;
}

.footer_sns img {
	width: 50px;
	height: 50px;
}

.footer_Inner {
	display: flex;
	position: relative;
	border-top: 1px solid #F1F1F1;
	height: 20px;
	padding: 5px;
	text-align: center;
	justify-content: center;
	align-items: center;
}

.footer_Inner p {
	padding: 0px;
	font-size: 12px;
}
