.content_container,
.contact_container {
	margin: auto;
	margin-bottom: 10;
	padding: 1vw 3vw;
	width: 80%;
	background-color: #FFECBB;
	border: 1px solid #FFF;
	height: auto;
	border-radius: 30px;
}

.content_container p {
	text-align: left;
	margin: 1vw auto;
}

.content_container img {
	width: 100px;
	height: auto;
	vertical-align: middle;
}

.contact_container {
	padding: 3vw;
	text-align: center;
}

.contact_container table {
	margin: auto;
}

.contact_container td {
	height: 100px;
	padding: 15px;
	vertical-align: middle;
}

.contact_container label {
	height: auto;
}

.contact_container .info {
	vertical-align: middle;
	width: 100%;
	height: 80px;
	padding-left: 20px;
	border: 1px solid #F59A23;
	border-radius: 20px;
	text-align: left;
	background-color: #FFFBF1;
}

.contact_container #message {
	resize: none;
	height: 250px;
}

.contact_container #submit_btn {
	cursor: pointer;
	width: 80%;
	height: 80px;
	background-color: #FFFBF1;
	margin: auto;
	border-radius: 50px;
	border: 1px solid #F59A23;
	font-size: 52px;
}

.contact_container #submit_btn:hover {
	transform: scale(1.01);
	transition: 0.5s;
	background-color: #FFD466;
}

@media screen and (max-width: 1280px) {
	.contact_container td {
		display: block;
		height: auto;
		margin: 15px 20px 15px 0px;
		padding: 0px;
	}

	.contact_container {
		text-align: left;
	}

	.contact_container .submit {
		margin-top: 50px;
		text-align: center;
	}
}

