* {
	font-family: 'Comic Neue', BOLD;
	font-size: 32px;
}

h1 {
	font-size: 64px;
	text-align: center;
}

h2 {
	font-size: 52px;
	text-align: center;
}

@media screen and (max-width:680px) {
	h1 {
		font-size: 60px;
	}

	p {
		font-size: 32px;
	}
}
