.main_container {
	position: relative;
	width: 100%;
}

.watame_body {
	position: relative;
	width: 28%;
	z-index: 1;
	animation: lineInFromLeft 1s;
}

.watame_body img {
	width: 100%;
}

.watame_nav {
	position: absolute;
	margin: 0 auto;
	top: 25%;
	right: 0;
	width: 100%;
	text-align: right;
	animation: lineInFromRight 1s;
}

.watame_nav .nav_container {
	width: 80%;
}

.watame_nav img {
	width: 80%;
	border-top: 1px solid #fff;
	border-left: 1px solid #fff;
	border-bottom: 1px solid #fff;
	border-radius: 20px 0 0 20px;
}

.watame_welcome {
	position: absolute;
	top: 2%; 
	right: 25vw;
	width: 20%;
	text-align: center;
	z-index: 1;
	animation: fadeIn 3s ;
}

.watame_welcome img {
	width: 100%;
}

.welcome_content {
	position: absolute;
	top: 20%;
	left: 10%;
	width: 80%;
	text-align: center;
}

.bububu {
	font-size: 36px;
	font-weight: 700;
	color: white;
}

.hi {
	font-size: 24px;
	color: white;
	vertical-align: middle;
}

@keyframes lineInFromLeft {
	0% {
		left: -400px;
	}

	100% {
		left: 0;
	}
}

@keyframes lineInFromRight {
	0% {
		right: -800px;
	}

	100% {
		right: 0;
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}
