.main_container {
    /* Make the container fixed size when it is too big */
    max-width: 1200px;
    margin: auto;
}

/* The CSS menu */
.css_menu ul {
    display: flex;
    justify-content: space-evenly;
}

.css_menu ul li {
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;

    /* Make the button bg able to change from blue to yellow */
    background: linear-gradient(to right, #063f5c 50%, #ffdf8db9 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .5s ease-out;
}

.css_menu ul li:hover {
    background-position: left bottom;
}

/* 
    Clear the default decoration of the a tag 
    and the text inside it.
*/
.css_menu ul li a {
    text-decoration: none;
    color: black;
    transition: font-size 0.3s ease-in-out;
    padding: 20px;
    font-size: 40px;
}

/* Change the text color and size when the user hover on it */
.css_menu ul li a:hover {
    font-size: 45px;
    color: rgb(197, 206, 80);
}


/* The CSS sub menu, which is hided by default */
.sub_menu ul {
    display: none;
    height: 0px;
    transition: height 0.3s ease-in-out;
    border: 1px solid black;
    background-color: #FFDF8D;
}

/* clear the color animation in the list in the sub menu */
.sub_menu ul li:hover {
    background-position: right bottom;
}

/* Display the sub menu when the user hover on only one of the option */
.css_menu ul li:hover .sub_menu ul {
    display: flex;
    flex-direction: column;
    height: auto;
    position: absolute;
    border-radius: 10px;
    z-index: 1;
    padding: 20px;
    text-align: center;
}

.sub_menu ul li a {
    font-size: 20px;
}

/* clear the transition */
.sub_menu ul li a:hover {
    font-size: 20px;
    color: grey;

}

.sub_menu ul li {
    padding-top: 10px;
    border: none;
}

.sub_menu ul li:hover {
    background-color: #dbbd72;
    color: black;
}

.container_droplist{
		max-width: 1200px;
		width: 80%;
		margin: auto;
    background-color: #FFECBB;
    border: 1px solid #FFF;
}

.container_bg {
    margin: 30px auto;
    padding: 3vw 0;
    background-color: #FFECBB;
    border: 1px solid #FFF;
    border-radius: 30px;
}

h2 {
    margin: 10px;
}

/* Recommend part */
#recommend {
    /* [prev Slide next] this will be a row */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

/* The centent in the slide [title , iframe, desc]  */
.slide {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 70%;
}

/* Enable the iframe resize itself when the screen size changing */
.iframe-container {
    width: 100%;

    /* The height of the iframe does not specify */
    height: auto;
    padding-top: 50%;
    position: relative;
}

.iframe-responsive {
    /* The iframe will use up all the space in the container */
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: none;
}

.song_title {
    text-align: center;
    border-bottom: 1px solid black;
    color: rgb(255, 14, 14);
    font-weight: bold;
    font-size: 30px;
    /* Chinese word */
    line-height: 1.5em;
    margin-bottom: 20px;
}

.prev,
.next {
    cursor: pointer;
    border-radius: 5px;
    padding: 10px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}

.slide .song_desciption {
    font-size: 30px;
}

#album {
    margin-bottom: 30px;
}

/* Make the bar to left, the word inside to right */

.album_bar {
    width: 80%;
    height: auto;
    border-radius: 5px;
    padding: 10px;
    color: white;
    font-size: 30px;
    margin-bottom: 30px;
}

.bar_right {
    display: flex;
    justify-content: flex-end;
}

#album1 #bar1 {
    background-color: #72BEA3;
    text-align: right;
}

/* Opposite with album1 bar */
#album2 #bar2 {
    background-color: #D44FDF;
    text-align: left;
}

.album_content {
    display: flex;
    position: relative;
    width: 100%;
    justify-content: space-evenly;
}


.song_desciption {
    display: flex;
    flex-direction: column;
    /* center the two div */
    align-items: center;
    justify-content: center;
}

.song_desciption .title {
    text-align: center;
    display: block;
    font-size: 40px;
}

.song_desciption .text {
    display: block;
    overflow-y: hidden;
}


.text p {
    font-size: 30px;
}


.left {
    width: 45%;
    order: 1;
}

.right {
    width: 45%;
    order: 2;
}

.thrumbnail_container {
    display: flex;
    width: 50%;
    box-shadow: 10px 10px 10px rgb(0, 0, 0, 0.3);
}

.thrumbnail_container img {
    max-width: 100%;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.6s;
    display: block;
}

.thrumbnail_container:hover {
    cursor: pointer;
    transform: scale(1.03);
}

.album_song_break {
    border: 0;
    border-top: 1px solid dimgray;
}

/* The start of the cover */
.cover {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}


.cover ul li {
    line-height: 1.8em;
    width: 250px;
}

.cover ul li a {
    color: black;
    transition: font-size 0.3s ease-in-out;
    font-size: 30px;
    cursor: pointer;
}

.back {
    position: fixed;
    bottom: 20px;
    left: 20px;
}

.back img {
    width: 100px;
    height: 100px;
}

.pop_up_container {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 2;
}

.closeButton {
    cursor: pointer;
    position: fixed;
    top: 5%;
    right: 5%;
    width: 50px;
    height: 50px;
}

.closeButton img {
    width: 100%;
    height: 100%;
}

.pop_up_iframe_container {
    /* Fill up all the places */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pop_up_iframe_container iframe {
    width: 80%;
    height: 60%;
    border: none;
    z-index: 3;
}

.back {
    position: fixed;
    width: 200px;
    height: 200px;
    bottom: 0;
    left: 0;
    padding: 0;
    margin: 0;
}

.back a {
    height: inherit;
    width: inherit;
}

.back img {
    width: 150px;
    height: auto;
    position: fixed;
    bottom: 0;
}

.back img:hover {
    height: auto;
    width: 250px;
    transform: scaleX(-1);
    content: url("../source/Topbutton2.png");
}

@media screen and (max-width:1280px) {

    .container_bg {
        width: 80%;
    }

    .thrumbnail_container {
        width: 100%;
        margin: 20px auto;
    }

    .thrumbnail_container img {
        width: 100%;
    }

    #recommend {
        flex-direction: column;
    }

    /* Hide the buttom */
    .prev,
    .next {
        display: none;
    }

    /* show all hided slide */
    .slide {
        display: flex;
    }

    .slide .song_title {
        margin-top: 20px;
    }

    .slide .song_desciption {
        padding-top: 20px;
        font-size: 35px;
    }

    .left {
        width: 80%;
    }

    .right {
        width: 80%;
    }

    .song_desciption {
        display: block;
        text-align: center;
        width: 100%;
    }

    .text {
        width: 90%;
        text-align: left;
        margin: auto;
    }


    #album1 #bar1,
    #album2 #bar2 {
        width: 100%;
        text-align: center;
    }

    .album_content {
        display: block;
        width: 100%;
        padding-top: 30px;
    }

    .cover {
        display: block;
    }

    .cover iframe {
        margin-left: 10%;
        width: 80%;
        height: 510px;
    }

    .cover ul li {
        display: block;
        text-align: center;
    }

}