html,
body {
	width: 100%;
	height: 100%;
	margin: 0px;
}

* {
	font-family: 'Comic Neue', BOLD;
	/*	font-size: 3vw;*/
}

h1 {
	font-size: 5vw;
}

ul {
	padding: 0px;
	margin: 0px;
	list-style: none;
}

.container {
	margin: 0;
	width: 100%;
	height: auto;
	background-color: #FFDF8D;
	background-image: url("../source/ff.png");
	background-repeat: repeat;
}

header {
	width: 100%;
	height: auto;
}

main {
	width: 100%;
	height: auto;
}

footer {
	padding-top: 20px;
	margin: 0px;
	width: 100%;
	height: auto;
	background-color: #FFD466;
	text-align: center;
	border-top: 1px solid #F1F1F1;
}

.page_title {
	width: auto;
	text-align: center;
}

.page_title h1 {
	margin-top: 0;
	padding-top: 3vw;
}

.menu_btn_container {
	cursor: pointer;
	position: fixed;
	width: auto;
	height: auto;
	top: 2%;
	right: 2%;
	z-index: 100;
}

#menu_btn {
	position: absolute;
	text-align: center;
	width: auto;
	height: auto;
	box-sizing: content-box;
	top: 0px;
	right: 0px;
}

.menu_btn img {
	position: relative;
	width: 100px;
	height: auto;
	opacity: 80%;
}


.menu_btn .menu_icon {
	display: flex;
	flex-direction: column;
	position: absolute;
	height: 100px;
	margin: 0 auto;
	top: 35%;
	left: 28%;
	bottom: 35%;
	right: 28%;
	z-index: 1;
}

.menu_btn .bar {
	position: relative;
	width: 50px;
	height: 7px;
	background-color: white;
	margin: 5px auto;
	transition: 0.4s;
	border-radius: 5px;
	right: 4px;
}

.menu_btn:hover .bar {
	transform: scale(1.1);
}

.menu_btn:hover img {
	transform: scale(1.1);
}

.change #bar1 {
	transform: rotate(-45deg) translate(-5px, 7px);
}

.change #bar2 {
	transform: rotate(45deg) translate(-5px, -7px);
}

.side_nav {
	display: inline-block;
	vertical-align: bottom;
	font-size: 5vw;
	padding: 0;
	height: 0;
	width: 100%;
	position: fixed;
	z-index: 10;
	background-color: #FFD466;
	overflow: hidden;
	visibility: hidden;
	transition: all 0.5s;
	font-size: 0;
}

.side_role1 {
	display: inline-block;
	width: 35%;
	vertical-align: middle;
}

.side_menu {
	display: inline-block;
	width: 30%;
	vertical-align: middle;
	z-index: 10;
}

.side_role2 {
	display: inline-block;
	width: 35%;
	vertical-align: middle;
}

.role_container {
	position: relative;
	width: 100%
}

.role {
	width: 100%;
}

.side_role1 #role {
	position: absolute;
	bottom: 0;
	left: 0;
	width: auto;
	height: 60vh;
}

.shadow {
	width: 100%;
}

.side_role1 #role_shadow {
	opacity: 30%;
	width: auto;
	height: 100vh;
}

.menu_list_container {
	position: relative;
	width: 100%;
}

.side_menu ul {
	text-align: center;
}

.side_menu a {
	text-decoration: none;
	margin: 10px auto;
	display: block;
	width: auto;
	color: black;
	transition: 0.3s;
	font-size: 4vw;
	z-index: 200;
}

.side_menu a:hover {
	transform: scale(1.5);
	color: floralwhite;
}

.role2_container {
	position: relative;
	display: flex;
	width: auto;
	justify-content: center;
}

.role2 {
	width: 80%;
	text-align: center;
}

.side_role2 #role2 {
	width: 100%;
}

.side_role2 img {
	transform: scaleX(-1);
}

.footer_nav {
	display: flex;
	width: inherit;
	height: auto;
	position: relative;
	justify-content: center;
	align-items: center;
}

.footer_nav ul {
	width: inherit;	
}

.footer_nav li {
	display: inline-flex;
	padding: 0px 20px;
	justify-content: center;
	align-items: center;
}

.footer_nav a {
	text-decoration: none;
	color: #000;
	transition: 0.2s;
	font-size: 25px;
}

.footer_nav a:hover {
	transform: scale(1.1);
	text-decoration: none;
	color: floralwhite;
}

.footer_nav img {
	width: 80px;
	height: 80px;
}

.footer_nav img:hover {
	transform: scale(1.1);
}

.footer_Inner {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	border-top: 1px solid #F1F1F1;
	height: auto;
}

.footer_Inner span {
	margin: 5px;
	font-size: 12px;
}

.role_container {
	width: 100%;
}

.role2_container {
	width: 100%;
}


@media screen and (max-width:1000px) {
	.side_nav {
		overflow: hidden;
	}

	.side_role1 {
		width: 100%;
	}

	.shadow {
		display: none;
	}

	.side_menu {
<<<<<<< HEAD
		position: absolute;
		display: flex;
		margin:auto;
		width: 100%;
		height: 100%;
		justify-self: center;
		align-items: center;
=======
		margin: 5vw auto;
		width: 100%;
>>>>>>> parent of 411fb0b (update font size)
	}

	.side_menu a {
		font-size: 5vw;
	}

	.side_role2 {
		width: 100%;
<<<<<<< HEAD
		height: 100%;
		display: flex;
		align-items:flex-end;
		opacity: 0.3;
	}

	.side_role2 #role2 {
		content: url(../source/u6.png);
		width: 500px;
=======
	}

	.side_role2 #role2 {
		width: 80%;
>>>>>>> parent of 411fb0b (update font size)
	}

	.side_role2 img {
		content: url(../source/u12.png)
	}
}

@media screen and (max-width:400px) {
	.side_role2 #role2 {
		width: 100%;
	}

	.side_menu {
		margin: 8vw auto;
		width: 100%;
	}
	
	.side_menu {
		margin: 8vw auto;
		width: 100%;
	}
	
	.footer_nav li {
		width: 100%;
		padding: 2px 0px;
	}
	
	.footer_nav img {
		width: 60px;
		height: 60px;
		padding: 2px 0px;
	}
}
