.interact .bk_btn {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.interact #watame_sound_text {
    margin: 30px;
    height: 50px;
    font-weight: bold;
    text-align: center;
}

.interact .bk_btn button {
    cursor: pointer;
	width: 30%;
	height: 80px;
	background-color: #FFFBF1;
	margin: auto;
	border-radius: 50px;
	border: 1px solid #F59A23;
	font-size: 42px;
}

.interact .bk_btn button:hover {
    background-color: #ffdb83;
}

.watame_face {
    margin: 0 auto;
    height: 400px;
    text-align: center;
}

.watame_face img {
    width: auto;
    height: inherit;
}

@media screen and (max-width:1280px) {
	.interact .bk_btn button {
        width: 80%;
    }
}

@media screen and (max-width: 680px) {
	.interact .bk_btn button {
        width: 80%;
    }

    .watame_face {
        margin: 0 auto;
        height: 80%;
        text-align: center;
    }
}